---
---

@import "{{ site.theme }}";

header {
    .logo-title-wrapper {
        display: flex;
    }

    img,
    h1 {
        display: inline-block;
    }

    img {
        margin-right: 30px;
        border: none;
        box-shadow: none;
        --webkit-box-shadow: none;
    }

    #project_title {
        margin: auto 0;
    }
}